.item-list_add-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.item-list_plus {
  background: url(./plus.svg) no-repeat 50%;
  background-size: 30%;
  height: 100%;
  cursor: pointer;
  transition: background-size 0.2s;
}

.item-list_plus:hover {
  background-size: 35%;
  transition: background-size 0.2s;
}

.item-list__add-btn {
  display: block;
  margin: 0.5rem auto 0;
}

.item-list__add-input {
  width: 100%;
  height: 30px;
  font-size: 1rem;
  margin: 0.5rem 0;
}

input::placeholder {
  font-style: italic;
}

.item-list__add-btn {
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem 1rem;
  transition: 0.2s;
}

.item-list__add-btn:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}

.item-list__add-title {
  font-size: 1.25rem;
  font-weight: 600;
}