body {
  font-family: 'Play', sans-serif;
}

button {
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem 1rem;
  transition: 0.2s;
}

button:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}